*,
html {
    margin: 0;
    padding: 0;
}

.container {}

.navbar-container {
    background-color: darkslategrey;
    width: 100%;
    height: 90px;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 10px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: cadetblue;
    transition: .10s ease-in-out;
    transition-delay: .1s;
    border-radius: 10px;
}

.a-navbar {
    color: white;
    font-size: 30px;
    text-decoration: none;
    justify-content: left;
    font-weight: 500;
}

.gambar-container {
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.img-content-1 {
    width: 990px;
    height: 790px;
}

.img-content-2 {
    width: 990px;
    height: 790px;
}

.container-footer {
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-footer {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.li-footer {
    font-style: unset;
    font-size: 20px;
    border: 3px solid wheat;
    background-color: darkcyan;
    list-style-type: none;
    padding: 20px;
    margin: 30px;
    color: white;
}